.weatherDataCont{
    width: 100%;
    line-height: 150%;
    display: inline-grid;
    grid-template-columns: [c1-s] 50% [c1-e c2-s] 50% [c2-e];
}

.weatherExtraInfoCont{
    color: rgba(3, 11, 124, 0.959);
    font-weight: bold;
    margin: 1em 1em 1em 2em;
    grid-column: c2-s /c2-e;
}

.weatherExtraInfoCont  span{
    display: block;
}

.weatherTemperatureCont{
    grid-column: c1-s /c1-e;
    color: #00051f;
}

.weatherTemperatureCont  .temperature{
    font-size: xx-large;
    font-weight: bold;
    padding-left: 5%;
}

.weatherTemperatureCont  .icono{
    vertical-align: middle;
    color: dodgerblue;
}

.weatherTemperatureCont  .unity{
    font-size: medium;
    font-weight: bold;
    padding-left: 3%;
    vertical-align: super;
}